// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$primary: #9fb5cb;
$secondary: #f8fafc;
$success: #4caf50;
$info: #00bcd4;
$warning: #ff9800;
$danger: #f44336;
$light: #f8fafc;
$dark: #212529;


// Grays
$gray-100: #f6f9fc;
